@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');
.container {
    width: 80%;
    margin: 20px auto;
    text-align: center;
}
.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-item {
    width: 150px; 
    height: 150px; 
    margin: 10px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc; 
    border-radius: 8px;
    position: relative;
}

.card-content {
    text-align: center;
    padding: 5px;
    overflow: hidden;
}

.edit-icon {
    position: absolute;
    bottom: 5px;
    right: 5px;
    cursor: pointer;
    color: #007BFF; 
}
